/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS: 
DEFAULT: 400
MEDIUM: 500
SEMI-BOLD: 600
BOLD: 700

- LINE HEIGHTS:
DEFAULT: 1
SMALL: 1.05
MEDIUM: 1.2
PAREGRAPH DEFAULT: 1.6

- LETTER SPACING
-0.5px
0.75px

--- 02 COLORS

- PRIMARY: 
#e67e22
- TINTS: 
#fdf2e9 
#fae5d3 
#eb984e
- SHADES: 
#cf711f 
#45260a
- ACCENTS:
- GREYS:
#888 
#767676 (lightestgrey aloowed on #fff)
#6f6f6f (lightestgrey aloowed on #fdf2e9)
#555 
#333

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)

--- 06 BORDER RADIUS
DEFAULT: 9px
MEDIUM: 11PX

--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-size: 68.75%;
  /* font-size: 75%; */
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f1f1;
  /* position: relative; */
}
/* body::after {
  height: 100vh;
  position: relative;
  content: "";
} */
:root {
  /* --primary-color: #f1356d; */
  /* --primary-color: #f45d8a; */
  --primary-color: #cbc3e3;
  /* --primary-color: hsl(220.9 39.3% 11%); */
  --primary-accent-color: #faf9fc;
  --primary-tint-color: #b7b0cc;
  /* --primary-tint-color: hsl(220.9 39.3% 11%); */
  --secondary-color: #2ecc71;
  --error-color: #e7195a;
  --font-size-small: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 3.6rem;
  --padding-small: 1.2rem;
  --padding-medium: 2.4rem;
  --padding-large: 3.2rem;
  --DEFAULT: 400;
  --MEDIUM: 500;
  --SEMI-BOLD: 600;
  --BOLD: 700;
}

.mt-sm {
  margin-top: 1.2rem;
}
.mt-md {
  margin-top: 2.4rem;
}
.mt-lg {
  margin-top: 4.8rem;
}
.main {
  width: 1519px;
  margin: 0 auto;
}
.container {
  width: 60%;
  margin: 0 auto;
}
.nav {
  background-color: #fff;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid #e1e1e1;
}

.nav .container {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0;
}

.nav .container .logo {
  font-size: 2.8rem;
  font-weight: var(--BOLD);
  letter-spacing: 0.5px;
  margin: 2.4rem 0 auto; /* add this one when img logo used */
}
.nav .container .title span {
  color: var(--primary-color);
}
.nav .container ul {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}
.nav .container ul li {
  font-size: var(--font-size-medium);
  font-weight: var(--DEFAULT);
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease;
  user-select: none;
}
.nav .container ul li:hover {
  /* background-color: #feebf0; */
  background-color: #f5f3f9;
}
.header {
  text-align: center;
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
  background-color: #fefefe;
  border: 1px solid #e1e1e1;
  border-radius: 1rem;
}
.heading-primary {
  font-size: var(--font-size-xlarge);
  font-weight: var(--BOLD);
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.btn-primary {
  appearance: none;
  padding: 1.2rem 2.4rem;
  border-radius: 0.3rem;
  font-family: inherit;
  font-weight: var(--MEDIUM);
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.btn-primary--md {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: var(--primary-tint-color);
  gap: 0.6rem;
}

.btn-primary:hover {
  /* background-color: #f45d8a; */
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 4.8rem;
}
.card {
  width: 49%;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem 1.2rem;
  /* border: 2px solid #f5f5f5; */
  background-color: #fff;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); */
  border: 1px solid #e1e1e1;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow-wrap: break-word;
}

.card h2 {
  font-size: var(--font-size-large);
  font-weight: var(--SEMI-BOLD);
  margin-bottom: 0.4rem;
}
.card p {
  margin-bottom: 0.4rem;
}

.card:hover {
  /* background-color: #feebf0; */
  background-color: var(--primary-accent-color);
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); */
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #fefefe;
  padding: 4.8rem;
  border-radius: 1rem;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow-wrap: break-word;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  transition: color 0.3s ease;
}

.close-modal:hover {
  color: var(--primary-color);
}

.title {
  font-size: 2.4rem;
  margin: 2rem 0 1rem;
}

.description {
  font-size: var(--font-size-medium);
  margin-bottom: 2rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* input fields to add new post */
.post-input {
  margin-top: 1rem;
  border: 2px solid #e1e1e1;
  color: #333;
  line-height: 1.5;
  width: 100%;
  height: 5.6rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  appearance: none;
  outline: none;
  transition: border 0.3s ease;
}
.post-input--title {
  padding: 0 2.8rem;
}

.post-input--description {
  padding: 1.4rem 2.8rem;
  /* margin-top: 2rem; */
  height: 15rem;
  resize: none;
}
/* character counter */
.counter-container {
  display: flex;
  justify-content: flex-end;
}

.character-counter {
  color: #333;
  font-size: 1.4rem;
  margin-top: 8px;
}

/* .character-counter:not(.character-counter--last) {
  
} */

.error {
  color: var(--error-color);
}
.error-form {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--error-color);
}

.error,
.loading {
  font-size: var(--font-size-large);
  margin: 4.8rem auto 0;
}

/* Animate css styles */
.animate__animated.animate__fadeIn {
  --animate-duration: 0.2s;
}
